<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/register}" th:object="${userData}" method="post" class="form" role="form">
    <div class="form-group">
        <label for="registerUsername"></label>
        <input id="registerUsername" th:field="*{username}" placeholder="Username" class="form-control form-control-sm" type="text" required="">
    </div>
    <div class="form-group">
        <label for="registerEmail"></label>
        <input id="registerEmail" th:field="*{eMail}" placeholder="Email" class="form-control form-control-sm" type="text" required="">
    </div>
    <div class="form-group">
        <label for="registerPassword"></label>
        <input id="registerPassword" th:field="*{passwordHash}" placeholder="Password" class="form-control form-control-sm" type="text" required="">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Register User</button>
    </div>
</form>
</body>
</html>